@import url(https://fonts.google.com/noto/specimen/Noto+Sans);

:root {
    /* Neutral */
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);

    /*  Red */
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
}
body {
    width: 1440px;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Neutral-700);
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
}
button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--Neutral-600);
    border-style: none;
}

.extension {
    width: 180px;
    height: 60px;
    color: var(--Neutral-0);
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Neutral-800);
    font-family: "Work Sans", sans-serif;
    height: 50px;
    margin-top: 30px;
    padding: 0px 20px;
}
.list {
    color: var(--Neutral-0);
    font-weight: 900;
    font-size: 25px;
    
}
.navigation {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--Neutral-0);
    font-weight: 100;
    
}
.btn-1 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--Neutral-600);
    color: var(--Neutral-0);
}
.btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--Neutral-600);
    color: var(--Neutral-0);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

