body {
    padding: var(--size-4);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:2em;
}
.item-1 {
    grid-column-start: 1fr 1fr;
    grid-column-end: 1fr;
    grid-row-start: 1fr;
    grid-row-end: 1fr;
    border:1px solid red;
}
.item-5 {
    grid-column-start: 2fr;
    grid-column-end: 3fr;
    grid-row-start: 1fr;
    grid-row-end: 1fr;
    border:1px solid red;
}
.item-3 {
    grid-column-start: 1fr 1fr;
    grid-column-end: 1fr;
    grid-row-start: 1fr;
    grid-row-end: 1fr;
    border:1px solid red;
}