form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    & > * {
        display: block;
        border: 2px solid #CCC;
        border-radius: 0.3em;
        background-color: transparent;
        padding: 0.3em 0.6em;
    }

    & > input {
        flex: 1 1 100%;
    }

    & > button {
        flex: 1 1 auto;
        background-color: lightgray;
        cursor: pointer;
        
    }
    
}

