body {
    margin: 1% 20% 1% 20%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(245, 239, 231);
}

.nav {
    display: flex;
    gap:75%;
    align-items: center;
}
.logo {
    width: 5em;
}
.btn-start {
    border-radius: 20px;
    width: 10em;
    height: 2.5em;
    background-color: black;
    color: white;
}

.main {
    display: flex;
    margin-top: 7em;
    gap:5em;
}
.text-area {
    width: 65em;
}
.maximize {
    font-size: 50px;
}

.hero {
    width: 48em;
    height: 43em;
    margin-top: -18em;
}
.influence {
    margin-right: -18em;
}
p {
    color: rgb(158, 153, 153);
    width: 23em;
}
.get-btn {
    border-radius: 20px;
    width: 9em;
    height: 2.7em;
    background: radial-gradient(circle at 0% 0%, rgba(255,255,255,0.35), transparent 55%),
    radial-gradient(circle at 100% 100%, rgba(255,255,255,0.15), transparent 55%),
    linear-gradient(135deg, #ff8a00 0%, #ff4b2b 40%, #ff1744 100%);
    box-shadow: 0 6px 16px rgba(255, 76, 43, 0.6);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    border: none;;
    color: white;
}

.components {
    display: grid;
    margin: 0px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:30px
}
.check, .design-el, .anime-el, .photo-el, .crypto-el, .business-el {
    border-radius: 10px;
    height: 10em;
}

.check {
    background: radial-gradient(circle at 0% 0%, rgba(255,255,255,0.35), transparent 55%),
    radial-gradient(circle at 100% 100%, rgba(255,255,255,0.15), transparent 55%),
    linear-gradient(135deg, #ff8a00 0%, #ff4b2b 40%, #ff1744 100%);
    color: white;
    font-size: 30px;
}
h4 {
    margin: 60px 75px 20px 30px;
}
.design-el, .anime-el, .photo-el, .crypto-el, .business-el {
    background-color: white;
    padding: 10px 25px;
    height: 17.5em;
    width: 19em;
    margin-left: 5px;
}
h3 {
    font-size:20px;
    margin-top: 2.3em;
}
.get {
    font-size: 20px;
    font-weight: 800;
    color: #c13e27;
    margin-top: 20px;
}
.an, .de, .pho, .cri, .bus {
    height: 7em;
    width: 17em;
    word-spacing: 5px;
    
}
