
datalist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2rem;
    padding-right: 0.7rem;
    gap: 3vh;
}

.arrival, .wifi, .break {
    background-color: var(--Neutral0);
    box-shadow: 5px 5px 10px var(--Neutral700);
    padding: 0.8rem;
    border-radius: 20px;
    margin-top: 10vh;
    height: 25vh;
}
.arrival-item, .wifi-item, .break-item {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.key-img, .wifi-img, .break-img {
    border:1px solid red;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 10px;
}