.info-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 var(--sp-lg);
    gap: var(--sp-md);
}

.arrival, .wifi, .break {
    background-color: var(--Neutral0);
    box-shadow: 5px 5px 10px var(--Neutral700);
    padding: var(--sp-sm);
    border-radius: 20px;
    margin-top: clamp(5vh, 8vh, 10vh);
    min-height: clamp(160px, 20vh, 240px);
    font-family: var(--DM-Mono);
}
.arrival-item, .wifi-item, .break-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.key-img, .wifi-img, .break-img {
    background-color: var(--Terracotta600);
    width: var(--icon-md);
    height: var(--icon-md);
    border-radius: 10px;
}
.wifi-img {
    background-color: var(--Blue500);
}
.break-img {
    background-color: var(--Rose500);
    color: var(--Neutral0);
}
.arrival h2, .wifi h2, .break h2 {
    margin-top: -0.3rem;
    font-size: var(--fs-md);
}
.net, .pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--DM-Mono);
    border: 1px solid var(--Neutral400);
    background-color: var(--Neutral200);
    border-radius: 10px;
    font-size: var(--fs-xs);
    padding: var(--sp-xs);
}
.net, .pass, .below {
    color: var(--Neutral600);
}
.wifi-a, .wifi-b, .wifi-c {
    flex: 1;
    font-size: var(--fs-xs);
}
.wifi-a, .a {
    color: var(--Terracotta600);
}
.wifi-b, .b {
    color: var(--Blue500);
}
.wifi-c, .c {
    color: var(--Rose500);
}
.arrival-item h4, .wifi-item h4, .break-item h4 {
    font-style: italic;
    font-size: var(--fs-md);
}
.ring, .fresh {
    font-size: var(--fs-xs);
    color: var(--Neutral600);
}
