body {
    margin: 1vw;
    background-color: var(--Neutral100);
}

.big-sun {
    margin: 15vh 60vh;
}

section {
    position: absolute;
    margin-top: -50vh;
    border:1px solid var(--Neutral400);
    width: 50vh;
    height: 55vh;
    background-color: var(--Neutral0);
    border-radius: 20px;
    margin-left: 25vh;
}

section:hover {
    
}

.recept {
    display: flex;
    justify-content: space-between;
}