body {
    margin: 1vw;
    background-color: var(--Neutral100);
}

.big-sun {
    margin: 13em 25em;
}

section {
    margin-top: -35em;
    border:1px solid red;
    width: 25em;
    height: 27em;
}

.recept {
    display: flex;
    justify-content: space-between;
}