body {
    margin: 0;
    background-color: var(--Neutral100);
}

.big-sun {
    margin: 15vh 30vw;
}

section {
    position: absolute;
    margin-top: -50vh;
    border:1px solid var(--Neutral400);
    width: 280px;
    min-height: 380px;
    background-color: var(--Neutral0);
    border-radius: 20px;
    margin-left: 10vw;
    font-family: var(--DM-Mono);
    padding: 0.7rem;
    box-shadow: 5px 15px 10px var(--Neutral700);
    transform: rotate(-3deg);
}

section:hover {
    transform: rotate(-3deg) translateX(-5%);
}

.recept {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Neutral200);
}
.recept-text, .num, .in, .out {
    color: var(--Neutral600);
    font-size: 0.7rem;

}
.your {
    font-style: italic;
    font-weight: 700;
}
.num {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.date-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid var(--Neutral200);
}
.in, .out {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
} 

.sat, .wed {
    font-size: small;
    margin-top: -1.5rem;
    color: var(--Neutral600);
}
.april {
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    margin-top: -0.3rem;
}
.price {
    display: flex;
    justify-content: space-between;
    color: var(--Neutral800);
    font-size: small;
    border-bottom: 1px solid var(--Neutral600);
}

.total, .wise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Neutral600);
}
.wise {
    margin-top: -1rem;
    align-items: center;
}
.eu {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    color: var(--Neutral900);
}