.sidebar {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.maison-soleil {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Neutral400);
    gap: 0.5em;
}
.stay, .house, .town, .breakfast, .message{
    display:flex;
    gap: 0.8em;
    color: var(--Neutral600);
    margin-left: 0.5vw;
    font-family: var(--DM-Mono);
    font-size: 0.9em;
    cursor: pointer;
    padding-left: 0.7em;
    align-items: center;
    
}
.stay:hover, .house:hover, .town:hover, .breakfast:hover, .message:hover{
    background-color: var(--Neutral0);
    color: var(--Neutral900);
    font-size: 0.93em;
    border-radius: 10px;
}
.stay-img, .house-img, .town-img, .breakfast-img, .message-img {
    width: 1.5rem;
    height: 1.5rem;
}
.sun {
    width: 3rem;
    height: 3rem;
}
.maison-text{
    display:flex;
    flex-direction: column;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
}
.maison-text {
    font-family: var(--Fraunces);
    font-style: italic;
}
.maison-text span {
    color: var(--Terracotta400);
}

.number{
    display: flex;
    gap: 5vw;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--Rose500);
    border-radius: 3em;
    color: var(--Neutral0);
    font-size: 0.7em;
}

.weather {
    font-family: var(--DM-Mono);
    color: var(--Neutral700);
    border-radius: 1em;
    margin-top: auto;
    background-color: var(--Sun300);
}
.today, .degree, .sunny{
    margin-left: 1em;
    font-size: 0.8em;
}
.degree{
    margin-left: 0.5em;
    margin-top: -0.3em;
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
}
.sunny{
    margin-top: -1.8em;
}
.sunlight{
    width: 3em;
    height: 3em;
    margin-left: 11em;
}
.today {
    margin-top: -1em;
}

.bottom-text{
    margin-top: 1.7em;
    color: var(--Neutral600);
    font-family: var(--DM-Mono);
    font-size: 0.7em;
    margin-left: 0.5vw;
}