body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .hero-header, .gallery-container {
    max-width: 1200px;
    height: 550px;
    margin: 0 auto;
    padding: 3rem 2rem 0 2em;
    display: flex;
    gap: 3rem;
  }
  
  
  
  .hero-left {
    flex: 0 0 60%;
  }
  
  .hero-left-inner {
    display: flex;
    height: 33rem; 
  }
  
  .hero-panel {
    flex: 1;
    
  }
  
  .hero-panel--black {
    background: #000;
    display: flex;
    flex: 0 0 35%;
    align-items: center;
    padding: 2.5rem;
  }
  
  .hero-title {
    margin: 0 3.6rem;
    font-size: 3rem;
    line-height: 1;
    position: absolute;
    width: 8em;
    color: #fff;
    top: 18%;
  }
  span {
    color: #000;
  }
  .hero-panel--image {
    background: url("/art-gallery-website/art-gallery-website/starter-code/assets/desktop/image-hero.jpg") center/cover no-repeat;
  }
  
  
  
  .hero-right {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-left: -7rem;
  }
  
  .hero-text {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.7;
    width: 18rem;
    color: #555;
  }
  
  
  
  .hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    height: 3rem;
    width: 13rem;
    color: #fff;
    background: linear-gradient(90deg, #000 0 80%, #d2842b 80% 100%);
  }
  
  .hero-btn-label {
    font-size: 0.8rem;
    letter-spacing: 0.12em;
    padding-left: 0.8rem;
    color: white;
  }
  
  .hero-btn-arrow {
    font-size: 0.75rem;
    font-weight: 700;
  }
  .gallery-hall {
    background: url("/art-gallery-website/art-gallery-website/starter-code/assets/desktop/image-grid-1.jpg");
    height: 500px;
  }


/* body {
    width: 70%;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.items {
    display: flex;
    
}
.hero {
    width: 33%;
    height: 37em;
}
.black {
    width: 28%;
    height: 37em;
    background-color: black;
}
.text-items {
    display: flex;
}
.gallery {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 3em;
    width: 15em;
}
h1 {
    margin:-9em 2.93em;
    color: white;
}
span {
    color: black;
}
.arts {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 0.9em;
    margin: -30em -17em;
    width: 19em;
    color: black;
    word-spacing: 5px;
}
button {
    width: 13em;
    height: 3em;
    background: linear-gradient(
    90deg,
    black 0 80%,   
    #d2842b 80% 100% 
  );
    
}
.location {
    border-style: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma;
    justify-content: center;
    margin: -22em -2em;
    padding-right: 35px;
}
.right {
    font-size: 5px;
    font-weight: 900;
    position:absolute;
    padding-left: 25px;
    margin-top: -3px;
} */