body {
    width: 70%;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.items {
    display: flex;
    
}
.hero {
    width: 33%;
    height: 37em;
}
.black {
    width: 28%;
    height: 37em;
    background-color: black;
}
.text-items {
    display: flex;
}
.gallery {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 3em;
    width: 15em;
}
h1 {
    margin:-9em 2.93em;
    color: white;
}
span {
    color: black;
}
.arts {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 0.9em;
    margin: -30em -17em;
    width: 19em;
    color: black;
    word-spacing: 5px;
}
button {
    width: 13em;
    height: 3em;
    background: linear-gradient(
    90deg,
    black 0 80%,   
    #f08811 80% 100% 
  );
    
}
.location {
    bord
    color: white;
    font-family: Verdana, Geneva, Tahoma;
    justify-content: center;
}
.right {
    font-size: 5px;
    
    font-weight: 900;
    
}