body {
    width: 70%;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.items {
    display: flex;
    
}
.hero {
    width: 33%;
    height: 37em;
}
.black {
    width: 28%;
    height: 37em;
    background-color: black;
}
.text-items {
    display: flex;
}
.gallery {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 3em;
    width: 15em;
}
h1 {
    margin:-9em 2.93em;
    color: white;
}
span {
    color: black;
}
.arts {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 0.8em;
    margin: -33em -19em;
    width: 17em;
    color: black;
}