body {
    width: 70%;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.items {
    display: flex;
    
}
.hero {
    width: 33%;
    height: 37em;
}
.black {
    width: 28%;
    height: 37em;
    background-color: black;
}
.text-items {
    display: flex;
    border: 1px solid red;
}
.gallery {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 3em;
    border:1px solid green;
    width: 15em;
}
h1 {
    margin:-9em 2.9em;
    color: white;
}
span {
    co
}